* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: rgb(231, 250, 255);
}

a {
    text-decoration: none;
}

strong {
    font-weight: 700;
}

h2 {
    opacity: 0.85;
}

body {
    background: #0D202E url(../img/avengers.svg) no-repeat right -5vw top 40vh;
    background-size: 350px;
    background-attachment: fixed;
    z-index: -1;
}

header {
    background-color: #4EAEDF;
    padding: 30px;
    display: grid;
    align-content: center;
    justify-content: center;
    text-align: center;
}

nav {
    background-color: #1A7FAB;
    padding: 20px 0;
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    grid-gap: 25px;
}

nav a {
    display: grid;
    background-color: #fff;
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 100%;
    justify-content: center;
    align-content: center;
}

nav a img {
    height: 30px;
}

#notification_bloc {
    height: 0;
    text-align: center;
    filter: blur(15px);
    opacity: 0.1;
    transition: 125ms ease-out;
}

#notification_bloc:hover {
    padding: 50px;
    filter: none;
    opacity: 1;
    transition: 175ms ease-in;
}

#notification_bloc h2 {
    font-size: 2rem;
}

#notification_bloc h3 {
    font-weight: 300;
    opacity: 0.6;
}

.bloc {
    margin: 50px auto;
    max-width: 500px;
    position: relative;
}

.bloc h2 {
    display: inline-block;
    font-weight: 700;
    padding: 0 26px;
}

.bloc h3 {
    font-size: 0.8rem;
    font-weight: 700;
    text-align: right;
}

.bloc p {
    padding: 8px 26px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.05rem;
    hyphens: auto;
    background-color: #1A7FAB;
    box-shadow: 0 2.5px 5px rgb(3, 24, 29);
}

p.alerte_rouge {
    background-color: rgb(185, 0, 0);
}

p.alerte_verte {
    background-color: rgb(0, 148, 20);
}

.bloc form {
    background-color: #1A7FAB;
    box-shadow: 0 2.5px 5px rgb(3, 24, 29);
    display: grid;
    justify-content: center;
    padding: 15px;
}

.bloc form label {
    font-weight: 700;
    font-size: 1.25em;
    padding: 0 15px;
}

#red {
    display: inline-block;
    padding: 3px 14px;
    background-color: rgb(185, 0, 0);
    font-weight: bold;
    border-radius: 4px;
}

.bloc form input {
    margin: 15px;
    padding: 10px;
    background-color: #fff;
    border: solid 2px #ddf1fa;
    border-radius: 4px;
    color: #0D202E;
    font-size: 1.55em;
    box-shadow: 0 2.5px 5px rgba(3, 24, 29, 0.2);
}

.bloc form input[type="submit"] {
    border: none;
    background-color: #4EAEDF;
    font-weight: 700;
    color: #fff;
}

.bloc form input[type="checkbox"] {
    -moz-appearance:none;
    -webkit-appearance:none;
    -o-appearance:none;
    width: 15px;
    height: 15px;
    color: white;
}

.container {
  display: block;
  position: relative;
  cursor: pointer;
  padding: 0 50px !important;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 15px;
  height: 25px;
  width: 25px;
  border-radius: 4px;
  background-color: #eee;
  box-shadow: 0 2.5px 5px rgba(3, 24, 29, 0.2);
}

.container:hover input ~ .checkmark {
  background-color: rgb(144, 177, 201);
}

.container input:checked ~ .checkmark {
  background-color: #0D202E;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

#page404 {
    z-index: -1;
    position: fixed;
    background: url('../img/thanos.jpg');
    background-size: 2000px;
    background-repeat: no-repeat;
    background-attachment: fixed;

    background-position: top -10vh left 40%;
    height: 100vh;
    width: 100%;
    opacity: 1;
}

#container_404 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    height: 100vh;
    width: 100%;
}

#page404 {
    display: grid;
    align-content: center;
}

#container_404 p {
    font-family: 'Open Sans';
    font-size: 4em;
    padding: 30px;
    z-index: 2;
    text-align: center;
    margin: 0;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(3, 24, 29, 0.2);
}

.bloc p, .bloc form {
    border-radius: 4px;
}

@media screen and (min-width: 1000px) {
    body {
        background-size: 500px;
        background-position-y: 200px;
    }

    header {
      padding: 60px;
      font-size: 1.5rem;
    }
}